@using System.Web.Optimization
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pediatric Ophthalmology</title>
    @Styles.Render("~/Content/css")
</head>
<body class="main">

    <div id="applicationHost">
        <div id="splash" class="splash">
            <br /><br />
            <h2 class="splash-header">Welcome to e-Pediatric Ophthalmology & Strabismus</h2>
            <br />
            <img class="splash-loading" src="~/content/images/loading.gif" />
        </div>
    </div>

    @Scripts.Render("~/scripts/libraries")
    <script>
        window.virtualDirectory = '@ViewBag.VirtualDirectory';
        window.userState = @ViewBag.UserState;
    </script>
    <script src="~/scripts/require.js" data-main="@Url.Content("~/App/main")"></script>
</body>
</html>
